<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gaebalsebal.persistence.BoardMapper">

  <select id="selectBoardList" resultType="BoardVO">
  	SELECT *
	    FROM board
	    WHERE board_category = #{board_category}
	        and board_use_yn = 'Y'
  </select>
  
  <select id="selectBoard" resultType="BoardVO">
  	SELECT *
	    FROM board
	    WHERE board_no = #{board_no}
  </select>
  
  <update id="updateView">
  	UPDATE board
        SET board_view = board_view + 1
        WHERE board_no = #{board_no}
  </update>
  
     <insert id="insertBoard" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="board_no" keyColumn="board_no">
	   <selectKey keyProperty="board_no" order="BEFORE" resultType="int">
	         SELECT seq_board_no_pk.nextval FROM dual
	   </selectKey>
  	INSERT INTO board
	    VALUES( #{board_no} -- board_no
	            , #{board_category} -- board_category
	            , #{board_title} -- board_title
	            , '작성자' -- board_writer
	            , #{board_content} -- board_content
	            , 0 -- board_view
	            , 0 -- board_like
	            , sysdate -- board_create_date
	            , null -- board_update_date
	            , 'Y' -- board_use_yn
	            , 1 -- member_no
    )
  </insert>
  
  <insert id="insertTag">
		INSERT INTO tag
		    VALUES( seq_tag_no_pk.nextval -- tag_no
		            , #{tag_name} -- tag_name
		            , #{board_no} -- board_no
    )
	</insert>
	
	<insert id="insertFile">
		INSERT INTO files
		    VALUES( seq_file_no_pk.nextval -- file_no
		            , #{file_name} -- file_name
		            , #{file_uuid} -- file_uuid
		            , #{folder_path} -- folder_path
		            , #{board_no} -- board_no
		    )
	</insert>
  
  <update id="updateBoard">
  	UPDATE board
	    SET board_category = #{board_category}
	    	, board_title = #{board_title}
	        , board_content = #{board_content}
	        , board_update_date = sysdate
	    WHERE board_no = #{board_no}
  </update>
  
  <delete id="deleteBoard">
  	UPDATE board
	    SET board_use_yn = 'N'
	    WHERE board_no = #{board_no}
  </delete>
  

</mapper>